body{
    padding : 0;
    margin:0;
    width : 450px;
    height: 599px!important;
}

.md-toolbar-header {
    background-color : #1565C0!important;
}

md-tabs-canvas{
    background-color : #0D47A1!important;
}

md-tab-item{
    color : rgba(255,255,255,0.5)!important;
    /* color :red; */
}

.md-active{
    color:#fff!important;
}

.md-subhead{
    font-size:11px!important;
    margin-bottom: 0px;
    color: rgba(255,255,255,0.3);
    text-align: right;
}

.list{
    height : 414px;
    overflow-y : auto;
    padding:0;
}

.list.not-notice{
    height : 470px;
}

.list md-list{
    padding : 0;
}

.col-notice{
    background-color:#F57F17!important;
    width: 6px;
    height: 59px;
    display: inline-block;
    left: 0;
    top: 0;
    position: absolute;
}
.col-new{
    background-color:#29B6F6!important;
    width: 6px;
    height: 59px;
    display: inline-block;
    left: 0;
    top: 0;
    position: absolute;
}

.row-notice{
    background-color : #FFECB3;
    border-bottom:1px solid #fff;
}

.row-new {
    background-color : #E3F2FD;
    border-bottom:1px solid #fff;
}

.favorite-icon{
    fill: #fff;
}

.favorite-icon.selected{
    fill : #DE3641;
}

md-nav-ink-bar{
    height : 4px!important;
}

.fade{
    position:absolute;
    top : 10px;
    right : 0;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    transition:0.2s linear all;
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity:1;
}
/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
    transition:0.2s linear all;
    opacity:1;
}
.fade.ng-leave.ng-leave-active {
    opacity:0;
}
md-tabs[md-border-bottom]:not(.md-dynamic-height) md-tabs-content-wrapper{
    height: 470px;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){
    height : 520px;
}

.cover{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgb(255,255,255,0.5);
    z-index : 10;
}

.cover md-progress-circular{
    left : 50%;
    top : 50%;
    margin-left:-48px;
    margin-top:-48px;
}

.content {
    min-height : 570px;
}

.bottom-container{
    padding : 10px 0px;
    background-color : #fff;
    max-height : 56px;
}

.bottom-container md-content{
    background-color : rgba(0,0,0,0)!important;
}

.bottom-container md-content.search{
    width: 100%;
    padding-left:15px;
}

.btn-pagination{
    margin : 0;
    min-width:50px!important;
    /* color : white; */
}

/* important */
md-input-container .md-errors-spacer{
    display:none;
}

md-input-container{
    margin-bottom : 2px;
    margin-top : 8px;
}

md-input-container.keyword{
    width : 180px;
}

.empty{
    width: 100%;
    background: rgb(47, 46, 46);
    top: 0;
    position: absolute;
    height: 470px;
    color: #fff;
    text-align: center;
}
.empty h2{
    margin-top:45%;
}

.footer{
    width: 100%;
    height: 20px!important;
    /* background-color:red; */
}